SQLSERVER_SERVER=localhost\SQLEXPRESS
SQLSERVER_DATABASE=NeuroPlayDB
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=TuPasswordSegura
ODBC_DRIVER=ODBC Driver 17 for SQL Server
# Si usas el 18, pon: ODBC Driver 18 for SQL Server
